
h1 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2{
        background-color: hsl(200, 15%, 55%);
        color: hsl(200, 15%, 30%);
        font-size: 200%;
        text-decoration: underline;

}
p {
    background-color: hsl(200, 15%, 75%);
}

span.etiquetas{

        color: hsl(200, 100%, 30%);
        font-weight: normal;

}
span.instituciones{

    color: hsl(200, 100%, 40%);
    font-style: normal;
    font-weight: bold;
}
h3{
    background-color: hsl(200, 15%, 65%);
    color: hsl(200, 15%, 40%);
    font-size: 130%;
    font-style: italic;
}
body {
    background-color: hsl(200, 15%, 85%);
    font-family: sans-serif;
    text-align: justify;
}
footer{
    background-color: white;
    font-weight: bold;
    text-align: right;
    font-style: italic;
}
